<?xml version="1.0" encoding="UTF-8" ?>

<phpunit
    bootstrap="./tests/Bootstrap.php"
    backupGlobals="true">
    <php>
        <var name="DB_USER" value="root" />
        <var name="DB_PASS" value="root" />
        <var name="DB_NAME" value="cpod_unit_test" />
        <var name="DB_HOST" value="127.0.0.1" />
        <var name="DB_TYPE" value="MYSQL" />

        <var name="RESTAPI_ADDR" value="http://api.local/v1/" />
    </php>



    <testsuites>
        <testsuite name="Modules\Url">
            <directory>./tests/Modules</directory>
            <php>
            </php>
        </testsuite>
    </testsuites>
</phpunit>
